<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com._220a220e.mapper.RolePermissionMapper">
    <resultMap id="BaseResultMap" type="com._220a220e.entity.RolePermission">
        <result column="roleId" jdbcType="INTEGER" property="role_id" />
        <result column="permissionId" jdbcType="INTEGER" property="permission_id" />
    </resultMap>

    <delete id="delete" parameterType="map">
        delete from sys_role_permission
        where role_id = #{roleId,jdbcType=INTEGER}
        and permission_id = #{permissionId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="map">
        insert into sys_role_permission (
        role_id,
        permission_id
        )
        values (
        #{roleId,jdbcType=INTEGER},
        #{permissionId,jdbcType=INTEGER}
        )
    </insert>

</mapper>